# Environments
.env
.venv

# Snakemake
.snakemake/

# Python
__pycache__/
*.py[cod]

# Data & Output directories
010.fastqc/
020.bam/
030.vcf/
040.clean_vcf/
050.annotated_vcf/
100.final/
150.db/
160.figures/
